<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAhbadSCqsecYBjByLXoalG_lMCtXwvbg</string>
	<key>GCM_SENDER_ID</key>
	<string>725871129285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.togetherremind.togetherremind2</string>
	<key>PROJECT_ID</key>
	<string>togetherremind</string>
	<key>STORAGE_BUCKET</key>
	<string>togetherremind.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725871129285:ios:a615a377efff8b0627f6ac</string>
	<key>DATABASE_URL</key>
	<string>https://togetherremind-default-rtdb.firebaseio.com</string>
</dict>
</plist>